@page "/"

<PageTitle>Home</PageTitle>

<div class="bg-[#F8FAFD]">
    <div class="markets p-6">
        <h1 class="text-3xl font-semibold text-[#1B2559] mb-10">Market layout #1</h1>
        <div class="w-full mb-[10rem]">
            <img src="/assets/images/List.png" class="object-fit w-full"/>
        </div>
        <div class="w-full">
            <img src="/assets/images/Container.png" alt="" class="object-fit w-full">
        </div>
        <div class="w-full mt-20 mb-20 p-10">
            <img src="/assets/images/Container2.png" alt="" class="object-cover w-full">
        </div>
        <div class="w-full mt-20 mb-20 p-10">
            <img src="/assets/images/Container3.png" alt="" class="object-cover w-full">
        </div>
        <div class="w-full mt-20 mb-20 p-10">
            <img src="/assets/images/Container4.jpg" alt="" class="object-fit w-full">
        </div>
        <div class="w-full mt-20 mb-20 p-10">
            <img src="/assets/images/Container5.png" alt="" class="object-cover w-full">
        </div>
        <h3 class=" text-sm font-light text-[#1B2559]">** IMPORTANT : Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
            sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
            sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit</h3>
    </div>

</div>

