@page "/"

<PageTitle>Home</PageTitle>

<div class="bg-[#F8FAFD]">
    <div class="markets p-6">
        <h1 class="text-3xl font-semibold text-[#1B2559]">Market layout #1</h1>
        <div class="w-full border-4">
            <img src="/assets/images/List.png" class="object-fit w-full"/>
        </div>
        
    </div>

</div>

