@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="w-full h-[5rem] py-4 px-6 inline-flex justify-between items-center gap-8">
                <div class="w-1/2 inline-flex gap-2 items-center p-2 rounded-lg bg-[#F8FAFD] focus:outline-2 focus:outline-[#9BAECA]">
                    <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M11.46 10.319L15.764 14.622C15.8389 14.697 15.8983 14.786 15.9389 14.8839C15.9794 14.9819 16.0002 15.0869 16.0002 15.1929C16.0001 15.2989 15.9792 15.4038 15.9386 15.5017C15.898 15.5996 15.8385 15.6886 15.7635 15.7635C15.6885 15.8384 15.5995 15.8978 15.5016 15.9384C15.4036 15.9789 15.2986 15.9997 15.1926 15.9997C15.0866 15.9996 14.9817 15.9787 14.8838 15.9381C14.7859 15.8975 14.6969 15.838 14.622 15.763L10.32 11.46C9.03341 12.4567 7.41545 12.9258 5.79527 12.7719C4.17509 12.618 2.67441 11.8526 1.59852 10.6315C0.522632 9.41033 -0.0476326 7.8252 0.00374187 6.19853C0.0551163 4.57187 0.72427 3.02588 1.87507 1.87508C3.02587 0.724278 4.57186 0.0551239 6.19852 0.0037495C7.82519 -0.0476249 9.41032 0.52264 10.6314 1.59853C11.8526 2.67441 12.6179 4.1751 12.7719 5.79528C12.9258 7.41546 12.4567 9.03242 11.46 10.319ZM6.4 11.199C7.67303 11.199 8.89393 10.6933 9.79411 9.79312C10.6943 8.89294 11.2 7.67204 11.2 6.399C11.2 5.12596 10.6943 3.90507 9.79411 3.00489C8.89393 2.10472 7.67303 1.599 6.4 1.599C5.12696 1.599 3.90606 2.10472 3.00588 3.00489C2.10571 3.90507 1.6 5.12596 1.6 6.399C1.6 7.67204 2.10571 8.89294 3.00588 9.79312C3.90606 10.6933 5.12696 11.199 6.4 11.199Z"
                            fill="#9BAECA" />
                    </svg>
                    <input type="text" placeholder="Search..."
                        class=" w-full p-2 bg-transparent focus:outline-none ">
                </div>
                <div class="inline-flex items-center gap-6 cursor-pointer">
                    <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4"
                            d="M15.3399 12.49L14.3399 10.83C14.1299 10.46 13.9399 9.76 13.9399 9.35V6.82C13.9399 3.56 11.2899 0.900002 8.01994 0.900002C4.74994 0.900002 2.09994 3.56 2.09994 6.82V9.35C2.09994 9.76 1.90994 10.46 1.69994 10.82L0.689943 12.49C0.289943 13.16 0.199943 13.9 0.449943 14.58C0.689943 15.25 1.25994 15.77 1.99994 16.02C3.93994 16.68 5.97994 17 8.01994 17C10.0599 17 12.0999 16.68 14.0399 16.03C14.7399 15.8 15.2799 15.27 15.5399 14.58C15.7999 13.89 15.7299 13.13 15.3399 12.49Z"
                            fill="#9BAECA" />
                        <path
                            d="M10.2501 1.32C9.56005 1.05 8.81005 0.9 8.02005 0.9C7.24005 0.9 6.49005 1.04 5.80005 1.32C6.23005 0.51 7.08005 0 8.02005 0C8.97005 0 9.81005 0.51 10.2501 1.32ZM10.8301 18.01C10.6203 18.5925 10.236 19.0961 9.72952 19.4522C9.22309 19.8083 8.61916 19.9996 8.00005 20C7.21005 20 6.43005 19.68 5.88005 19.11C5.56005 18.81 5.32005 18.41 5.18005 18C5.31005 18.02 5.44005 18.03 5.58005 18.05C5.81005 18.08 6.05005 18.11 6.29005 18.13C6.86005 18.18 7.44005 18.21 8.02005 18.21C8.59005 18.21 9.16005 18.18 9.72005 18.13C9.93005 18.11 10.1401 18.1 10.3401 18.07L10.8301 18.01Z"
                            fill="#9BAECA" />
                    </svg>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.4"
                            d="M22 15.94C22 18.73 19.76 20.99 16.97 21H7.05C4.27 21 2 18.75 2 15.96V15.95C2 15.95 2.006 11.524 2.014 9.298C2.01357 9.20412 2.03969 9.11204 2.08935 9.03236C2.139 8.95269 2.21016 8.88867 2.29462 8.84769C2.37909 8.80671 2.47341 8.79044 2.56672 8.80076C2.66003 8.81108 2.74853 8.84756 2.822 8.906C5.198 10.791 9.447 14.228 9.5 14.273C10.21 14.842 11.11 15.163 12.03 15.163C12.95 15.163 13.85 14.842 14.56 14.262C14.613 14.227 18.767 10.893 21.179 8.977C21.2525 8.91888 21.3409 8.88261 21.4341 8.87232C21.5273 8.86203 21.6215 8.87813 21.7059 8.9188C21.7904 8.95946 21.8617 9.02304 21.9117 9.10229C21.9618 9.18154 21.9886 9.27327 21.989 9.367C21.999 11.576 22 15.94 22 15.94Z"
                            fill="#9BAECA" />
                        <path
                            d="M21.476 5.674C21.047 4.86708 20.4066 4.19199 19.6235 3.72098C18.8403 3.24996 17.9438 3.00075 17.03 3H7.04997C6.13609 3.00075 5.23962 3.24996 4.45647 3.72098C3.67332 4.19199 3.03298 4.86708 2.60397 5.674C2.50978 5.85137 2.48032 6.056 2.52066 6.25273C2.56099 6.44946 2.66859 6.626 2.82497 6.752L10.25 12.691C10.77 13.111 11.4 13.319 12.03 13.319H12.05C12.68 13.319 13.31 13.11 13.83 12.69L21.255 6.752C21.4113 6.626 21.519 6.44946 21.5593 6.25273C21.5996 6.056 21.5702 5.85137 21.476 5.674Z"
                            fill="#9BAECA" />
                    </svg>
                    <img src="/assets/images/user.png" alt="" class="">
                    <div class="flex flex-col">
                        <span class="text-[#1B2559]">Austin Robertson</span>
                        <span class="text-[#1B2559]">Marketing Administrator</span>
                    </div>
                    <svg width="112" class="size-20" height="113" viewBox="0 0 112 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="39" y="38.5" width="44" height="22" rx="11" fill="#F8FAFD" />
                        <g filter="url(#filter0_d_72_1065)">
                            <rect x="41" y="40.5" width="18" height="18" rx="9" fill="#E0E8F3" />
                            <g clip-path="url(#clip0_72_1065)">
                                <g clip-path="url(#clip1_72_1065)">
                                    <g clip-path="url(#clip2_72_1065)">
                                        <path
                                            d="M47.5758 51.8222C46.2368 50.5397 46.2368 48.4603 47.5758 47.1778C48.9149 45.8953 51.086 45.8953 52.425 47.1778C53.7641 48.4603 53.7641 50.5397 52.425 51.8222C51.086 53.1047 48.9149 53.1047 47.5758 51.8222Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M50.0004 56.0999C50.1292 56.0999 50.234 55.9999 50.234 55.8762V53.9752C50.234 53.8519 50.1295 53.7515 50.0004 53.7515C49.8712 53.7515 49.7667 53.8515 49.7667 53.9752V55.8762C49.7667 55.9995 49.8712 56.0999 50.0004 56.0999Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M55.7663 52.9122C55.8471 52.9122 55.9255 52.872 55.9689 52.8003C56.0335 52.6935 55.995 52.5566 55.8835 52.4947L54.1637 51.5439C54.0522 51.4821 53.9093 51.5189 53.8447 51.6257C53.7801 51.7325 53.8186 51.8694 53.9301 51.9313L55.6499 52.8821C55.6866 52.9024 55.7268 52.9122 55.7663 52.9122Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M54.0466 47.4863C54.0861 47.4863 54.1263 47.4765 54.163 47.4562L55.8831 46.5058C55.9946 46.4439 56.0331 46.3074 55.9685 46.2002C55.9039 46.0934 55.7614 46.0566 55.6495 46.1184L53.9297 47.0692C53.8182 47.1311 53.7798 47.2676 53.8443 47.3748C53.8874 47.4464 53.9658 47.4863 54.0466 47.4863Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M50.0004 45.2488C50.1292 45.2488 50.234 45.1488 50.234 45.0251V43.1241C50.234 43.0008 50.1295 42.9004 50.0004 42.9004C49.8712 42.9004 49.7667 43.0004 49.7667 43.1241V45.0254C49.7667 45.1488 49.8712 45.2488 50.0004 45.2488Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M45.9536 47.4862C46.0344 47.4862 46.1127 47.446 46.1561 47.3744C46.2207 47.2676 46.1823 47.1307 46.0707 47.0688L44.351 46.1177C44.2395 46.0558 44.0965 46.0927 44.032 46.1995C43.9674 46.3063 44.0058 46.4432 44.1174 46.505L45.8371 47.4562C45.8738 47.4764 45.914 47.4862 45.9536 47.4862Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M44.2339 52.9118C44.2734 52.9118 44.3137 52.902 44.3504 52.8817L46.0701 51.9306C46.1817 51.8687 46.2201 51.7322 46.1555 51.625C46.091 51.5182 45.9484 51.4814 45.8365 51.5432L44.1168 52.4943C44.0052 52.5562 43.9668 52.6928 44.0313 52.7999C44.0748 52.8716 44.1531 52.9118 44.2339 52.9118Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M47.1266 54.4907C47.2075 54.4907 47.2858 54.4505 47.3292 54.3788L47.8664 53.4882C47.9309 53.3814 47.8925 53.2445 47.7809 53.1826C47.6694 53.1208 47.5265 53.1576 47.4619 53.2644L46.9248 54.155C46.8602 54.2619 46.8987 54.3987 47.0102 54.4606C47.0469 54.4809 47.0871 54.4907 47.1266 54.4907Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M52.8742 54.4905C52.9137 54.4905 52.954 54.4807 52.9907 54.4605C53.1022 54.3986 53.1407 54.262 53.0761 54.1549L52.5389 53.2639C52.4744 53.1571 52.3318 53.1203 52.2199 53.1821C52.1084 53.244 52.0699 53.3805 52.1345 53.4877L52.6716 54.3787C52.715 54.4503 52.7934 54.4905 52.8742 54.4905Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M54.6727 49.7239H55.7473C55.8761 49.7239 55.981 49.6238 55.981 49.5001C55.981 49.3764 55.8765 49.2764 55.7473 49.2764H54.6724C54.5435 49.2764 54.4387 49.3764 54.4387 49.5001C54.4387 49.6238 54.5435 49.7239 54.6727 49.7239Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M52.3367 45.8477C52.4176 45.8477 52.4959 45.8075 52.5393 45.7358L53.0761 44.8449C53.1407 44.738 53.1022 44.6012 52.9907 44.5393C52.8788 44.4774 52.7362 44.5143 52.6716 44.6211L52.1349 45.5121C52.0703 45.6189 52.1088 45.7558 52.2203 45.8176C52.257 45.8379 52.2972 45.8477 52.3367 45.8477Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M47.6641 45.8477C47.7037 45.8477 47.7439 45.8379 47.7806 45.8176C47.8921 45.7558 47.9306 45.6192 47.866 45.5121L47.3292 44.6211C47.2646 44.5143 47.1221 44.4774 47.0102 44.5393C46.8987 44.6012 46.8602 44.7377 46.9248 44.8449L47.4616 45.7358C47.5046 45.8075 47.5833 45.8477 47.6641 45.8477Z"
                                            fill="#F3BD00" />
                                        <path
                                            d="M44.2529 49.7239H45.3275C45.4563 49.7239 45.5612 49.6238 45.5612 49.5001C45.5612 49.3764 45.4567 49.2764 45.3275 49.2764H44.2529C44.1241 49.2764 44.0193 49.3764 44.0193 49.5001C44.0193 49.6238 44.1237 49.7239 44.2529 49.7239Z"
                                            fill="#F3BD00" />
                                    </g>
                                </g>
                            </g>
                        </g>
                        <defs>
                            <filter id="filter0_d_72_1065" x="0" y="0.5" width="112" height="112"
                                filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                <feMorphology radius="1" operator="erode" in="SourceAlpha"
                                    result="effect1_dropShadow_72_1065" />
                                <feOffset dx="6" dy="7" />
                                <feGaussianBlur stdDeviation="24" />
                                <feComposite in2="hardAlpha" operator="out" />
                                <feColorMatrix type="matrix"
                                    values="0 0 0 0 0.133333 0 0 0 0 0.235294 0 0 0 0 0.313726 0 0 0 0.21 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_72_1065" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_72_1065"
                                    result="shape" />
                            </filter>
                            <clipPath id="clip0_72_1065">
                                <rect width="12" height="15" fill="white" transform="translate(44 42)" />
                            </clipPath>
                            <clipPath id="clip1_72_1065">
                                <rect width="12" height="15" fill="white" transform="translate(44 42)" />
                            </clipPath>
                            <clipPath id="clip2_72_1065">
                                <rect width="12" height="15" fill="white" transform="translate(44 42)" />
                            </clipPath>
                        </defs>
                    </svg>
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_72_1087)">
                            <g clip-path="url(#clip1_72_1087)">
                                <mask id="mask0_72_1087" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0"
                                    y="0" width="32" height="32">
                                    <path
                                        d="M16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32Z"
                                        fill="white" />
                                </mask>
                                <g mask="url(#mask0_72_1087)">
                                    <path
                                        d="M0 0L0.5 1.375L0 2.8125V4.25L2 7.625L0 11V13L2 16L0 19V21L2 24.375L0 27.75V32L1.375 31.5L2.8125 32H4.25L7.625 30L11 32H13L16 30L19 32H21L24.375 30L27.75 32H32L31.5 30.625L32 29.1875V27.75L30 24.375L32 21V19L30 16L32 13V11L30 7.625L32 4.25V0L30.625 0.5L29.1875 0H27.75L24.375 2L21 0H19L16 2L13 0H11L7.625 2L4.25 0H0Z"
                                        fill="#EEEEEE" />
                                    <path
                                        d="M21 0V6.75L27.75 0H21ZM32 4.25L25.25 11H32V4.25ZM0 11H6.75L0 4.25V11ZM4.25 0L11 6.75V0H4.25ZM11 32V25.25L4.25 32H11ZM0 27.75L6.75 21H0V27.75ZM32 21H25.25L32 27.75V21ZM27.75 32L21 25.25V32H27.75Z"
                                        fill="#0052B4" />
                                    <path
                                        d="M0 0V2.8125L8.1875 11H11L0 0ZM13 0V13H0V19H13V32H19V19H32V13H19V0H13ZM29.1875 0L21 8.1875V11L32 0H29.1875ZM11 21L0 32H2.8125L11 23.8125V21ZM21 21L32 32V29.1875L23.8125 21H21Z"
                                        fill="#D80027" />
                                </g>
                            </g>
                        </g>
                        <defs>
                            <clipPath id="clip0_72_1087">
                                <rect width="32" height="32" fill="white" />
                            </clipPath>
                            <clipPath id="clip1_72_1087">
                                <rect width="32" height="32" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
            </div>
            @Body
        </div>
    </main>
</div>
